link(rel='stylesheet', href='#{cdnServer}/creative/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/vendor/fontawesome/css/font-awesome.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/creative/css/animate.min.css', type='text/css')
link(rel='stylesheet', href='#{cdnServer}/creative/css/creative.css', type='text/css')

// Flat UI (not yet)
//- link(rel='stylesheet', href='#{cdnServer}/vendor/flatui/css/flat-ui.css', type='text/css')

//- overrides
link(rel='stylesheet', href='#{cdnServer}/stylesheets/style.css', type='text/css')
