// Creative
script(src='#{cdnServer}/creative/js/jquery.min.js', type='text/javascript')
script(src='#{cdnServer}/creative/js/bootstrap.min.js', type='text/javascript')
script(src='#{cdnServer}/creative/js/jquery.fittext.js', type='text/javascript')
script(src='#{cdnServer}/creative/js/creative.js', type='text/javascript')

// Google Analytics
script(src='#{cdnServer}/javascripts/ga.js', type='text/javascript')